/* Styles for Etch A Sketch */
.header{
    width: 100vh;
    display: flex;
    align-items: center;
}

h1{
    font-family: "Sacramento", cursive;
    font-size: 24px;
}


.box {
    width: 25px;
    height: 25px;
    background-color: red;
    border-color: black;
    border-width: 4px;
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }
.gridclick{
    background-color: black;
}
